/* RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --headerColor:  #eeeff1;
    --secondaryColor:  #34547A;
    --additionalColor: #4e729d;
    --anotherColor: #727272;
    --classicColor:  #000000;
    --textColor: #fff;
}

html {
    font-size: 16 px;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* GENERAL */

.container {
    width: 62%;
    margin: 0 auto;
    padding: 0 3%;
}

h2 {
    text-align: center;
}

.hero__title,
.about__title {
    font-weight: 500;
}

.nav__link,
.hero__text,
.hero__btn,
.about__text,
.work-header__text  {
    line-height: 1.64rem;
}


/* HEADER */

.header {
    background-color: var(--headerColor);
    padding: 80px 0;
}

.navbar {
    margin-bottom: 162px;
}

.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    margin-left: -10px;
    justify-content: space-between;
    list-style: none;
}

.nav--active {
    display: block;
}

.nav__link {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: var(--classicColor);
    letter-spacing: 0.1em;
    transition: color 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:hover,
.nav__link--active {
    color: var(--secondaryColor);
}

.nav__btn {
    width: 30px;
    height: 22px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.nav__btn.active span:nth-child(1){
    top: 9px;
    transform: rotate(135deg);
}

.nav__btn.active span:nth-child(2){
    opacity: 0;
    left: -30px;
}

.nav__btn.active span:nth-child(3){
    top: 9px;
    transform: rotate(-135deg);
}

.nav__btn-row {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--classicColor);
    border-radius: 4px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.nav__btn-row:nth-child(1) {
    top: 0;
}

.nav__btn-row:nth-child(2) {
    top: 9px;
}

.nav__btn-row:nth-child(3) {
    top: 18px;
}

.hero__title {
    font-size: 3rem;
    line-height: 4.92rem;
    margin-bottom: 60px;
}

.hero__text {
    margin-bottom: 65px;
    color: var(--anotherColor);
    max-width: 540px;
}

.hero__btn,
.project, 
.footer {
    color: var(--textColor);
    background-color: var(--secondaryColor);
}

.hero__btn {
    display: inline-block;
    min-width: 225px;
    text-decoration: none;
    padding: 20px 2%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-bottom: 140px;
}

.hero__btn:hover {
    background-color: var(--additionalColor);
}

/* ABOUT */

.about {
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: var(--textColor);
}

.about__title {
    font-size: 2rem;
    line-height: 3.92rem;
    margin-bottom: 40px;
}

.about__container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 3%;
}

.about__text {
    text-align: center;
}

/* PROJECT */

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.project__item {
    display: flex;
    gap: 20px;
}

.project__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__number {
    font-size: 1.31rem;
}

/* WORK */

.work {
    background-color: var(--headerColor);
}

.work-header {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 3% 50px;
    text-align: center;
}

.work-header__title {
    font-size: 2rem;
    line-height: 2.34rem;
    margin-bottom: 50px;
}

.work-header__text {
    color: var(--anotherColor);
}

.work-video {
    max-width: 1110px;
    padding-bottom: 100px;
    cursor: pointer;
}

.work-video iframe {
    width: 100%;min-height: 600px;
}

@media screen and (max-width: 767px){
    .nav {
        display: none;
        margin-top: 30px;
    }

    .nav--active {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        max-width: 611px;
        column-gap: normal;
    }

    .hero__text {
        width: 540px;
    }

    .nav__btn {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    
    .about__container {
        margin-bottom: 40px;
    }

    .project-container {
        justify-content: center;
        gap: 30px;
        padding: 50px 0;
    }

    .project__item {
        justify-content: center;
        flex-basis: 25%;
    }

    .work-header{
        padding: 60px 3% 40px;
    }

    .work-header__title {
        margin-bottom: 40px;
    }

    .work-video {
        padding-bottom: 60px;
    }

    .work-video iframe {
        height: 500px;
    }
}


/* FOOTER */
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 21.1%;
}

.footer__bg {
    padding-bottom: 20px;
}