/* RESET */
$headerColor:  #eeeff1;
$secondaryColor:  #34547A;
$additionalColor: #4e729d;
$anotherColor: #727272;
$classicColor:  #000000;
$textColor: #fff;
$fontSize: 16px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


html {
    font-size: $fontSize;
}

body {
    font-size:$fontSize;
    font-family: 'Roboto', sans-serif;
}

/* GENERAL */

.container {
    width: 62%;
    margin: 0 auto;
    padding: 0 3%;
}

h2 {
    text-align: center;
}

.hero__title,
.about__title {
    font-weight: 500;
}

.nav__link,
.hero__text,
.hero__btn,
.about__text,
.work-header__text  {
    line-height: $fontSize*1.64;
}


/* HEADER */

.header {
    background-color: $headerColor;
    padding: $fontSize*5 0;
}

.navbar {
    margin-bottom: $fontSize*10.125;
}

.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: $fontSize*1.4375;
    margin-left: $fontSize*0.625;
    justify-content: space-between;
    list-style: none;
}

.nav--active {
    display: block;
}

.nav__link {
    display: block;
    text-decoration: none;
    padding:$fontSize*0.625;
    color: $classicColor;
    letter-spacing: 0.1em;
    transition: color 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:hover,
.nav__link--active {
    color: $secondaryColor;
}

.nav__btn {
    width: $fontSize*1.875;
    height: $fontSize*1.375;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.nav__btn.active span:nth-child(1){
    top: $fontSize*0.5625;
    transform: rotate(135deg);
}

.nav__btn.active span:nth-child(2){
    opacity: 0;
    left: -30px;
}

.nav__btn.active span:nth-child(3){
    top: $fontSize*0.5625;
    transform: rotate(-135deg);
}

.nav__btn-row {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: $fontSize*0.25;
    background-color: $classicColor;
    border-radius: $fontSize*0.25;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.nav__btn-row:nth-child(1) {
    top: 0;
}

.nav__btn-row:nth-child(2) {
    top: $fontSize*0.5625;
}

.nav__btn-row:nth-child(3) {
    top: $fontSize*1.125;
}

.hero__title {
    font-size: $fontSize*3;
    line-height: $fontSize*4.92;
    margin-bottom: $fontSize*3.75;
}

.hero__text {
    margin-bottom: $fontSize*4.0625;
    color: $anotherColor;
    max-width: $fontSize*33.75;
}

.hero__btn,
.project, 
.footer {
    color: $textColor;
    background-color: $secondaryColor;
}

.hero__btn {
    display: inline-block;
    min-width: $fontSize*14.0625;
    text-decoration: none;
    padding: 20px 2%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-bottom: $fontSize*8.75;
}

.hero__btn:hover {
    background-color: $additionalColor;
}

/* ABOUT */

.about {
    padding-top: $fontSize*7;
    padding-bottom: $fontSize*6.25;
    background-color: $textColor;
}

.about__title {
    font-size: $fontSize*2;
    line-height: $fontSize*3.92;
    margin-bottom: $fontSize*2.5;
}

.about__container {
    max-width: $fontSize*37.5;
    margin: 0 auto;
    padding: 0 3%;
}

.about__text {
    text-align: center;
}

/* PROJECT */

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.project__item {
    display: flex;
    gap: 20px;
}

.project__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__number {
    font-size: $fontSize*1.31;
}

/* WORK */

.work {
    background-color: $headerColor;
}

.work-header {
    max-width: $fontSize*37.5;
    margin: 0 auto;
    padding: 100px 3% 50px;
    text-align: center;
}

.work-header__title {
    font-size: $fontSize*2;
    line-height: $fontSize*2.34;
    margin-bottom: $fontSize*3.125;
}

.work-header__text {
    color: $anotherColor;
}

.work-video {
    max-width: $fontSize*69.375;
    padding-bottom: $fontSize*6.25;
    cursor: pointer;
}

.work-video iframe {
    width: 100%;
    height: $fontSize*37.5;
}

@media screen and (min-width: 768px) {
    .nav {
        max-width: 611px;
        column-gap: normal;
    }

    .hero__text {
        width: 540px;
    }

    .nav__btn {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    
    .about__container {
        margin-bottom: 40px;
    }

    .project-container {
        justify-content: center;
        gap: 30px;
        padding: 50px 0;
    }

    .project__item {
        justify-content: center;
        flex-basis: 25%;
    }

    .work-header{
        padding: 60px 3% 40px;
    }

    .work-header__title {
        margin-bottom: 40px;
    }

    .work-video {
        padding-bottom: 60px;
    }

    .work-video iframe {
        height: 500px;
    }
}

/* FOOTER */
.footer {
    padding-top: $fontSize*3.125;
    padding-bottom: $fontSize*3.125;
}
.footer__bg {
    padding-bottom: $fontSize*1.25;
}

@media screen and (max-width: 767px){
    .nav {
        display: none;
        margin-top: $fontSize*1.875;
    }

    .nav--active {
        display: block;
    }
  
    .work-header {
        padding: 80px 3%;
    }

    .work-video iframe {
        height: $fontSize*25;
    }

    .footer__bg {
        padding-bottom: $fontSize*0.625;
    }

    .footer {
        padding: $fontSize*2.5;
    }

}

